
.laptops{
    position: absolute;
    margin-bottom: 20000px;
   
}
.nice{
  background-color: #f3ecec;
  height: 1%;
  width: 5%;
margin-top: 1%;
  margin-left: 40%;
  animation-name: nice;
  animation-duration: 3s;
  position: relative;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  border-radius: 37%;
  text-align: center;
}

@keyframes nice{
  0%{
    left: 25%;

  }
  10%{
    left: 30%;

  }
  20%{
    left: 35%;
  }
  30%{
    left: 40%;
  }
  40%{
    left: 45%;
  }
  50%{
    left: 50%;
  }
  60%{
    left: 45%;

  }
  70%{
    left: 40%;
  }
  80%{
    left: 35%;
  }
  90%{
    left: 30%;

  }
  100%{
    left: 25%;
  }
}

.navbar {
  overflow: hidden;
  background-color: #333;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100.2%; /* Full width */
  animation-name: navbar;
  animation-duration: 1.5s;
  animation-timing-function: linear;
  margin-left: -1%;
  z-index: 100;

}

@keyframes navbar{
0%{
  top: 100%;
}
25%{
  top: 75%;

}

50%{
  top: 50%;

}

75%{
  top:25% ;
}

100%{
  top: 0%;
}


}

  .container {
    position: relative;
    width: 100%;
    
  }
  
  .image {
    display: block;
    width: 100%;
    height: auto;
  }
  
  .overlay {
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    
   
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease;
    
  }
  
  .container:hover .overlay {
    bottom: 0;
    height: 100%;
    background-image: url("./imgs/WhatsApp\ Image\ 2022-01-09\ at\ 11.15.28.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 100%;
    max-height: 100%;
    
    

  }
  
  .text {
    white-space: nowrap; 
    color: rgb(94, 5, 5);
    font-size: 20px;
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    z-index: 2;
  }
/* Links inside the navbar */
.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  
}

/* Change background on mouse-over */
.navbar a:hover {
 background-color: bisque;

}

/* Main content */
.main {
  margin-top: 30px; /* Add a top margin to avoid content overlay */
}

body{
  background-color: #ffff;
  height: 800vh;
}

.mctext{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #ffff;
    background-color: black;
    height: 7vh;
    position: sticky;
}

.text{
  text-align: center;
  font: 200;
  font-size: large;
}

.backcolor {
    background: linear-gradient(27deg, rgba(10, 185, 103, 0.8), rgba(12, 223, 29, 0) 70.71%),
    linear-gradient(147deg, rgba(250, 9, 9, 0.8), rgba(0,255,0,0) 70.71%),
    linear-gradient(107deg, rgba(165, 209, 5, 0.8), rgba(0,255,0,0) 70.71%),
    linear-gradient(226deg, rgba(55, 153, 245, 0.8), rgba(0,0,255,0) 70.71%),
     linear-gradient(217deg, rgba(250, 29, 21, 0.8), rgba(255,0,0,0) 70.71%),
    linear-gradient(127deg, rgba(15, 5, 107, 0.8), rgba(0,255,0,0) 70.71%),
    linear-gradient(346deg, rgba(236, 108, 4, 0.8), rgba(0,0,255,0) 70.71%),
  linear-gradient(297deg, rgba(236, 74, 9, 0.8), rgba(255,0,0,0) 70.71%),
    linear-gradient(186deg, rgba(243, 16, 16, 0.8), rgba(0,255,0,0) 70.71%),
    linear-gradient(256deg, rgba(6, 6, 248, 0.925), rgba(0,0,255,0) 70.71%);
background-repeat: no-repeat;
background-size: cover;
height: 100%;

max-width: 100%;
position: absolute;
z-index:-1;
margin-top: -21px;
margin-left: -10px;
margin-right: 10px;
width: 100%;
animation-name: color;
animation-duration: 1.5s;
animation-timing-function: linear;


  }
@keyframes color {
  0%{
    left: 100%;
    top: 0%;
  }
  25%{
    left: 75%;
    top: 0%;
  }
  50%{
    left: 50%;
    top: 0%;
  }
  75%{
    left: 25%;
    top: 0%;
  }
  100%{
    left: 0%;
    top: 0%;
  }
  
}
  
 

#sale{
  position: absolute;
  top: 350%;
  left: 70%
  
}
.btn {
  border: none;
  background-color: inherit;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  display: inline-block;
}

/* On mouse-over */
.btn:hover {background: #eee;}

.success {
  color: green;
background-color: #000000;
font-size: 50px;
}
.PCM{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 1500%;
  position: absolute;
  margin-top: 1%;
  color: #ffff;
  z-index: 30;
}
.we{
  z-index: 30;
  color: #ffff;
  position: absolute;
  margin-top: 20%;
  margin-left: 15%;
  font-size: 1000%
}
.you{
  color: #ffff;
  position: absolute;
  font-size: 1000%;
  margin-top: 30%;
  margin-left: 30%;
  z-index: 30;
}


#Pc{
  object-fit: contain;
  height: 30%;
  width: 20%;
position: absolute;
margin-left: 40%;
margin-top: 5%;
z-index: 1;
}
#Screen{
  object-fit: contain;
  height: 40%;
  width: 50%;
position: absolute;
margin-left: 35%;
margin-top: 7%;
z-index: 2;

}

#mouse{
  object-fit: contain;
  height: 20%;
  width: 20%;
position: absolute;
margin-left: 45%;
margin-top: 17%;
  z-index: 3;
}


.board{
  position: absolute;
  height: 30%;
  width: 40%;
margin-left: 45%;
margin-top: 17%;
  z-index: 3;
  object-fit: contain;
}





